.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  padding: 10px;
  background-color: #e8e8e8;
  gap: 0.8em;
}

.errorContainer {
  margin-top: -10px;
  margin-bottom: 8px;
  height: 5px;
}

.error {
  color: #fc1a1a;
  font-size: 14px;
  margin-top: 5px;
}