.item-container {
    width: 20%;
    padding: 5px;
    margin: 5px 5px;
    box-shadow: 5px 5px 5px hsl(231, 11%, 63%);
    border-radius: 10px;
}

.popover-content {
    padding: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
}