.item-container {
    width: 70%;
    padding: 5px;
    margin: 5px auto;
    box-shadow: 5px 5px 5px hsl(231, 11%, 63%);
    border-radius: 10px;
}

.popover-content {
    padding: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.description {
    overflow-wrap: break-word;
}

.btns {
    display: flex;
    gap: 10px;
}